
.imgprofile{
    border-radius: 30px;
    width: 100%;
    object-fit: cover;
}
.top-text{
    margin: 40px auto 50px auto;
}
.top-text svg {

    margin-top: -5px;
    margin-right: 5px;
    width: 20px;
}

.top-text p{
    margin-top: 15px;
}
.top-text span:nth-child(2){
    margin-left: 20px;
}
.details{
    border-radius: 30px;
    background-color: azure;
}