.top-section{
    background-image: url(./bg-1.png);
}
.imgprofile{
    border-radius: 30px;
    width: 100%;
    object-fit: cover;
}

.top-text a svg {
    margin-top: -5px;
    margin-right: 5px;
    width: 20px;
    color: #512A00;
}
.top-text a {
    text-decoration: none;
    color: #AC9260;
}


.top-text p{
    margin-top: 15px;
}

.top-text span:nth-child(2){
    margin-left: 20px;
}

.details{
    border-radius: 30px;
    background-color: #fff4dc;
}

.top-text{
    padding: 10% 3% 10% 3%;
}

.top-text h4:first-child{
    margin: 0 0 3% 0;
}

.top-content .col {
    margin:10% 0 10% 0;
    max-height: 500px;
}



@media screen and (max-width:767px) {
    .top-content .col {
        margin:2% 0 2% 0;
    }
    .imgprofile{
        height: 350px;
        object-fit: cover;
    }
    
}